@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}

* {
  font-family: serif;
}

.card {
  width: 25%;
  aspect-ratio: 1/1.4;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  margin: auto;
  margin-top: 3%;
  font-size: 42px;
  box-shadow: 5px 5px 10px black;
}

.card-middle {
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  /* font-size: 5em; */
  font-size: clamp(2em, 18vw, 5em);
}

.card-top,
.card-bottom {
  display: flex;
  position: absolute;
}

.card-top {
  top: 0px;
  left: 10px;
}

.card-bottom {
  bottom: 0px;
  right: 10px;
  transform: rotate(180deg);
}

@media screen and (max-width: 540px) {
  .card-middle {
    display: none;
  }
}
@media screen and (max-width: 340px) {
  .card-bottom {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .card {
    display: none;
  }
}

/* boton */
#changeCardBtn {
  background-color: gold;
  border-radius: 28px;
  box-shadow: 6px 5px 10px #0ddcdc;
  position: relative;
  bottom: 0%;
  left: 0%;
}
